<div id="notice" class="alert"><%= notice %></div>

<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div style="float: left;">
    <div class="field" id="menu">
      <%= form.label :menu %>
      <%= form.file_field :menu %>
    </div>

    <div class="field">
      <%= form.label :'Order For:' %>
      <input name="mtype" value="0" type="radio" required="required"> BreakFast
      <input name="mtype" value="1" type="radio" required="required"> Lunch <br/>
    </div>

    <div class="field">

      <%= form.label :'From' %>
      <%= form.text_field :restaurant, id: :order_restaurant, required: true%>
    </div>
      <br>

  <div id="friends">
  <input list="myfriends" id='fsearch' name="friend" required="true">
  <datalist id="myfriends">
    <% for f in @friends %>
      <option value="<%= f[:friend] %>" data-id="<%= f[:id] %>">
    <% end %>
  </datalist>
  <button id="fadd"> Add Friend</button>
  </div>

  <div id="groups">
   <input list="mygroups" id='gsearch' name="group" required="true">
    <datalist id="mygroups">
      <% for g in @groups %>
        <option value="<%= g.name %>" data-id="<%= g.id %>" >
      <% end %>
    </datalist>
   <button id="gadd"> Add Group</button>
  </div>
  <div class="actions submit">
    <%= form.submit :'publish' , id: :addOrder %> 
  </div>
</div>


<% end %>

<div class="container">
   <div class="row">
    <div class=" col-sm-4">
    <div id="invitedFriend" class="h2norder" style="float:right"> <h3>Invited Friends</h3> </div> <!-- neeed to e in the center -->
    </div>
  </div>
</div>