<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= content_tag :div, class: "temp_information", data: {friends: @friends} do %>
<% end %>
<%= content_tag :div, class: "groups", data: {groups: @groups} do %>
<% end %>
<div style="float: left;">
    <div class="field">
      <%= form.label :menu %><br>
      <%= form.file_field :menu %>
    </div>
    <%= @orderId %>
    <div class="field">
      <%= form.label :'Order For' %><br />
      <input name="mtype" value="0" type="radio"> BreakFast<br/>
      <input name="mtype" value="1" type="radio" checked="checked"> Lunch <br/>
    </div>

    <div class="field">
      <%= form.label :'From' %><br />
      <%= form.text_field :restaurant, id: :order_restaurant, required: true%>
    </div>
    <br /><br />
     <div id="friends">
       <input type="search" name="search" id="fsearch"><br />
      <label id="fadd"> Add Friend</label>
    </div>
    <br />
     <div id="groups">
     <input type="search" name="search" id="gsearch"><br />
     <label id="gadd"> Add Group</lael>
    </div>
    </div>
    <div class="field" style="display: none">
      <%= form.label :user_id %>
      <%= form.text_field :user_id, id: :order_user_id %>
    </div>

    <div class="actions">
      <%= form.submit :submit , id: :addFaG %> 
    </div>
</div>
<div id="invitedFriend" style="float:left"> hi </div>
    
<% end %>
