<table style="margin-left:20px;margin-top:100px; ">
	<tr>
		<th style="padding-right:40px;""> Order</th>
		<th style="padding-right:40px">Resturant</th>
		<th style="padding-right:20px">Invited</th>
		<th style="padding-right:20px">Joined</th>
		<th style="padding-right:20px">Status</th>
		<th style="padding-right:20px">Actions</th>
	</tr>
		<% @orders.each do |order|%>
		   <tr>
		   		 <% if order.mtype == 0 %>
				  	<td> BreakFast </td>
				  <% else %>
				  	 <td> Lunch </td>
				  <% end %>
				  <td><%= order.id %></td>
				  <td><%= Invitation.where(:order_id=>order.id).count %></t>
				  <td><%= Invitation.where(:order_id=>order.id,:status => 1).count %></td>
				  <% if  order.status == 0 %>
				  	<td> Waiting </td>
				  	<td><%= link_to " View ", orderDetails_path %> |  <a href="#" onclick="finish(this,'<%= order.id %>')">Finish</a> | <a href="#" onclick="cancel(this,'<%= order.id %>')">Cancel</a></td>
				  <% elsif order.status == 1 %>
				  	<td>Finish</td>
				  	<td><%= link_to " View ", orderDetails_path %></td>
				  <% else %>
				  	 <td> Cancel </td>
				  	 <td><%= link_to " View ", orderDetails_path %></td>
				  <% end %>    
		   </tr>
	   <% end %>
</table>
<p><%= link_to 'Start New Order',new_order_path %></p>