<div class="container">
<div class="row">
  <div class="col-sm-4">
    <p>
      <strong>Order For: </strong>
      <%if @res[:order].mtype == 0 %>
      	BreakFast
      <% else %>
      	Lunch
      <% end %>
    </p>
    <p>
      <strong>From Restaurant: </strong>
      <%= @res[:order].restaurant %>
    </p>

    <p>
      <strong>Ordered By: </strong>
      <%= User.find(@res[:order].user_id).name %>
    </p>
    <% if @order.status == 0  and @order.user_id == current_user.id %> 
    <%= link_to 'Delete', order_path(@order),method: :delete,data:{confirm:'Are you sure you would like to delete the order?'}%>  | 
    <%= link_to 'Edit', edit_order_path(@order) %> 
    <% end %> 

    <div id="notice" class="alert"><%= notice %></div>
  </div>
</div>

<div class="row">
<form>
<h3><u>Order Details</u></h3>
<table class="table">
  <tr>
    <th>Person</th>
    <th>Item</th>
    <th>Amount</th>
    <th>Price</th>
    <th>Comment</th>
  </tr>
  <% for invited in @res[:users] %>
    <tr>
      <td><%= invited.user.name %></td>
      <td>
        <%if invited.status == 0 %>
          invited
        <% elsif invited.status == 1 %>
          joined
        <% elsif invited.status == 2 %>
          refused
        <% end %>
      </td>
      <td>
      </td>
    </tr>
  <% end %>  
</table>
</div>

<div class="row">

<table class="table table-condensed" id='det'>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Amount</th>
    <th>Comment</th>
    <th>Actions</th>
  </tr>
  <% @items = @order.items.all %>
  <%= render :template => 'items/index.html.erb', :locals => {:@items => @items} %>
</table>

<%= form_with(model: @res[:item], local: true) do |form| %>
<table class="table-condensed" style="margin-top: 5%">
  <tr>
    <th><%= form.label :name %></th>
    <th><%= form.label :Price %></th>
    <th><%= form.label :Amount %></th>
    <th><%= form.label :comment %></th>
    <th></th>
  </tr>
  <tr>
    <%= form.hidden_field :add, id: :order_id, value: @order.id %>
    <td><%= form.text_field :name, id: :item %></td>
    <td><%= form.text_field :price, id: :price %></td>
    <td><%= form.number_field :Amount, id: :amount %></td>
    <td><%= form.text_area :comment, id: :comment %></td>
    <td><%= form.submit :add, id: :submit %></td>
  </tr>
</table>
<% end %>

  
  
</div>

</div>