<p id="notice"><%= notice %></p>

<h1>Groups</h1>

<%= render 'form', group: @group %>

<fieldset>
  <legend>Your Groups</legend>
  <ul>
    <% for grp in current_user.groups %>
      <button class="shGroup" data="<%= grp.id %>"><%= grp.name %></button>
    <% end %>
  </ul>
</fieldset>

<fieldset>
  <legend>Group</legend>
  <form id="findFriend">
    <label for="fmail">Your friend email:</label>
    <input type="email" name="fmail" required="required">
    <input type="submit" value="Add" name="add">
  </form>
  <div id="grp">
  </div>
</fieldset>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    
  </tbody>
</table>

<br>

<%= link_to 'New Group', new_group_path %>
