<!DOCTYPE html>
<html>
  <head>
    <title>Otlob</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
  
  <nav class="navbar navbar-inverse">
  <div class="container-fluid" >
    <ul  class="ul1">
      <li><h6><%= link_to 'Home', root_url , id: :h6 %></h6></li> 
      <li><h6><%= link_to 'Friends', friendships_url ,id: :h6 %></h6></li> 
      <li><h6><%= link_to 'Groups', groups_url ,id: :h6 %></h6></li>  
      <li><h6><%= link_to 'Orders', orders_url ,id: :h6 %></h6></li>
    </ul>
  </div>
  </nav>
</div>  
   <div class="photo">
  
  
    <% if !current_user.nil? %>
      <%= link_to image_tag(current_user.avatar.url(:thumb)), user_path(current_user) %>
      <%= current_user.name %>
      <%= link_to "Log out", destroy_user_session_path, method: "delete" %>
      </div>
    <% else %>
    <div class="ls">
    <ul class="nav navbar-nav navbar-right" id="lgg">
      <li><h6><%= link_to "Log in", new_user_session_path ,id: :h6 %></h6></li>
      <li><h6><%= link_to "Sign Up", new_user_registration_path, id: :h6 %></h6></li>
      </ul>
    <% end %>

<div class="weelcome">
</div>
    <%= yield %>
     <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
  </body>
</html>
